# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

# remove .DS_Store
.DS_Store
.project
error_log

# remove htaccess
.htaccess

# remove .idea phpstorm
.idea/
