
/*
 * GLOBAL
 */

body {
  font-size: 13px;
  font-family: "Helvetica Neue", helvetica, sans-serif;
  background: #f7f7f7;
  color: #8c8c8c;
  line-height: normal 
}

h1 {
  font-family: 'Pacifico';
  color: #006699;
}


h1.title { 
  font-size: 32px;
  margin-bottom: 25px;
}


h3 {
  color: #515151;
  margin-top: 1.182em;
  margin-bottom: 1.182em;
}

h4 {
    font-size: 15px;
    font-weight: bold;
    color: #333;
    margin-top: 0px;
    margin-bottom: 0px;
}

a {
  color: #006699;
  outline: none;
}

a:hover {
  text-decoration: none;
}

p {
  line-height: 20px;
}


.breadcrumb{
  clear: both;
  display: block;
  margin-bottom: 20px;
}

.contentpage .timeline {
  color: #006699;
  font-family: 'Pacifico';
  font-size: 24px;
}

.contentpage li {
  margin-bottom: 5px;
}


/* Blocks Global*/

.sidebars .block {
  margin-bottom: 30px;
  clear:both;
}

h2.block-title {
  border-bottom: 1px dashed #c9c9c9;
  padding-bottom: 5px;
  margin-bottom: 15px;
  font-size: 15px;
  font-weight: normal;
  color: #515151;
  text-decoration: none;
  line-height:1.2em;
}

.field-item h2 {
  font-family: 'Pacifico'; 
  color: #006699;
  font-size: 24px;
}

.field-item ul {
  margin-bottom: 20px;
  padding-left: 18px;
  margin-top: 0;
}

.field-item ul li {
  list-style: disc outside none;
  color: #7D7D7D;
}


/*
 * NAVIGATION
 */
#menu-bar-wrapper{
  background: url('../images/header_texture.png') repeat-x;
  height: 65px;
}

#menu-bar {
  float:left;
  height:65px;
}

#block-system-main-menu {
     display: block;
  }

    #block-system-main-menu ul {
      list-style: none;
      padding-top: 0px;
      padding-left: 0px;
    }
      #block-system-main-menu ul li {
        float: left;
        margin-right: 15px;
        position: relative;
        display: inline-block;
        list-style: none outside none;
      }
        #block-system-main-menu ul li a {
          font-family: 'Cabin', sans-serif;
          color: #fff;
          text-decoration: none;
          font-size: 14px;
          font-weight: bold;
          padding: 5px 10px 5px 10px;
          -webkit-border-radius: 3px;
          -moz-border-radius: 3px;
          border-radius: 3px;
        }
        #block-system-main-menu ul li a:hover { background: rgba(0,0,0,0.15); }
        #block-system-main-menu ul li.current-menu-item a { background: rgba(0,0,0,0.30); }
    /* Sub Nav */
    #block-system-main-menu ul li ul{
      list-style: none;
      position: absolute;
      z-index: 999999;
      top: 20px;
      left: 0;
      width: 160px;
      text-align: left;
      border-top: none;
      padding: 23px 0px 5px 0px;
      display: none;
      margin: 0;
    }

      #block-system-main-menu ul li ul li {
        display: block;
        width: 100%;
        margin-bottom: 0px;
        padding-bottom: 0px;
        padding: 2px 15px 2px 15px;
        background: #8f000e;
        background: rgba(143,0,14,0.7);
      }
      #block-system-main-menu ul li ul li a,
      #block-system-main-menu ul li.current-menu-item ul li a,
      #block-system-main-menu ul li.current-menu-parent ul li a{
        display: block;
        padding: 8px 0px 8px 0px;
        font-size: 12px;
        font-weight: normal;
        color: #fff;
        font-family: "Helvetica Neue", helvetica, sans-serif;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;
      }
      #block-system-main-menu ul li.current-menu-item ul li a,
      #block-system-main-menu ul li.current-menu-parent ul li a{
        background: none;
        border-top: none;
        border-left: none;
        border-right: none;
        border-color: #ddd;
        box-shadow: none;
        color: #666;
      }
        #block-system-main-menu ul li ul li a:hover {
          background: none;
          color: #aaa;
        }

/*
 * LAYOUT GLOBAL CHANGES
 */


#header-wrapper {
  background: #006699;
  height: 90px;
}

#logo{
  margin-top: 10px;
}

#header #name-and-slogan{
  margin-top: 20px;
  margin-left: 20px;
}

#header h1#site-name {
  color: #fff;
  font-family: "Pacifico";
  font-size: 28px;
}



#main-wrapper {
  background-color: #ebebeb;
  padding: 0px 0px 40px 0px;
  width:100%;
  overflow: hidden;
}

#breadcrumbs {
    background: none repeat scroll 0 0 #EBEBEB;
    overflow: hidden;
    padding: 15px 0;
}

#breadcrumbs a {
  margin-left: 42px;
}

#content {
  border: 1px solid #c8c9c9;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 3px 4px rgba(0,0,0,0.08);
  -moz-box-shadow: 0px 3px 4px rgba(0,0,0,0.08);
  box-shadow: 0px 3px 4px rgba(0,0,0,0.08);
  background: #fff;
  padding: 20px;
  overflow: hidden;
}

 .sidebar-second .region-sidebar-second {
  padding-left: 40px;
 }

 .one-half, .one-third, .two-third, .one-fourth, .three-fourth{
  float: left;
  margin-right: 4%;
  margin-bottom: 25px;
}

/*
* BLOCKS
*/
.block-block ul {
  list-style: disc outside none;
  padding-left: 18px;
  margin-top: 0px;
}

.block-block ul li {
  color: #7D7D7D;
}

.block-block ul li a {
  color: #7d7d7d;
  outline: none;
}

.block-block a:hover {
  text-decoration: none;
}

.block-block ul ul{ 
  list-style: circle;
  margin-top: 5px;
  margin-left: 15px;
}

.block-block .more-link a, .block-views .more-link a{
  color: #7d7d7d;
}

.block-block .more-link a:hover, .block-views .more-link a:hover{
   text-decoration: none;
}


#block-views-events-calendar-block-3 ul{
  list-style: none;
  padding-left: 0px;
}

#block-views-events-calendar-block-3 ul li {
	border-bottom: 1px solid #E1E1E1;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

#block-views-events-calendar-block-3  .views-field-title a {
  font-size: 15px;
  color: #515151;
  text-decoration: none;
}

#block-views-events-calendar-block-3  .views-field-title a:hover {
  text-decoration: underline;
}



#block-views-events-calendar-block-3 ul li .date {
    width: 40px;
    height: 33px;
    padding-top: 7px;
    background: #006699;
    color: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
    margin-right: 10px; 
    font-size: 13px;  
    float: left;
    font-family: 'Cabin';
    line-height: 13px;
}

#block-views-events-calendar-block-3  ul li .date span {
      font-size: 18px;
      font-weight: bold;  
}

/* HOMEPAGE */

.front article {
  float:left;
  padding-right: 30px;
  width:330px;
}

div.actions {
  float:right;
  width:555px;
}

div.actions .one_half {
  margin-bottom: 15px;
}

div.one_half {
  width: 48%;
}

div.column_last {
  margin-right: 0 !important
}

div.one_half, div.one_third, div.two_third, div.three_fourth, div.one_fourth, div.two_thirds {
float: left;
margin-right: 4%;
margin-bottom: 25px;
}


  div.framed_box {
    overflow: hidden;
    padding: 20px 15px 20px 15px;
    border: 1px solid #e5e5e5;
    background: #f8f8f6;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    position: relative;
    margin-bottom: 30px;
  }


div#block-block-11 div.icon {
  margin-right: 15px;
  font-size: 38px;
  margin-top: -5px;
  float: left;
}

div#block-block-11 .text {
  margin-left: 60px;
}

div#block-block-11 .text h3 {
  margin-top: 0px;
}

div#block-block-11 .donate_button {
  position: absolute;
  right: 20px;
  top: 20px;
}



/*--------------------------------------------
Buttons
---------------------------------------------*/
.button {
  border: 1px solid #DEDEDE;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #555555;
  display: inline-block;
  font: bold 10px/12px 'Helvetica Neue',Helvetica,sans-serif;
  padding: 6px 11px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
.button:active {
  -webkit-box-shadow: inset 0px 0px 3px #333;
  -moz-box-shadow: inset 0px 0px 3px #333;
  box-shadow: inset 0px 0px 3px #333;
}
.button:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 3px #bbb;
  -moz-box-shadow: 0px 0px 3px #bbb;
  box-shadow: 0px 0px 3px #bbb;
}
.button.white {
  background: #f9f9f9; /* Old browsers */
  background: -moz-linear-gradient(top,  #f9f9f9 0%, #f0f0f0 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(100%,#f0f0f0)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #f9f9f9 0%,#f0f0f0 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #f9f9f9 0%,#f0f0f0 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #f9f9f9 0%,#f0f0f0 100%); /* IE10+ */
  background: linear-gradient(top,  #f9f9f9 0%,#f0f0f0 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#f0f0f0',GradientType=0 ); /* IE6-9 */
  border-color: #dedede #d8d8d8 #d3d3d3;
  color: #555;
  text-shadow: 0 1px 0 #fff;
}
.button.white a { color: #555 }
.button.gray {
  background: #cacaca; /* Old browsers */
  background: -moz-linear-gradient(top,  #cacaca 0%, #aeaeae 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cacaca), color-stop(100%,#aeaeae)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #cacaca 0%,#aeaeae 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #cacaca 0%,#aeaeae 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #cacaca 0%,#aeaeae 100%); /* IE10+ */
  background: linear-gradient(top,  #cacaca 0%,#aeaeae 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cacaca', endColorstr='#aeaeae',GradientType=0 ); /* IE6-9 */
  border-color: #b5b5b5 #a1a1a1 #8f8f8f;
  color: #555;
  text-shadow: 0 1px 0 #d4d4d4;
}
.button.gray a { color: #555 }
.button.pink {
  background: #f78297; /* Old browsers */
  background: -moz-linear-gradient(top,  #f78297 0%, #f56778 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f78297), color-stop(100%,#f56778)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #f78297 0%,#f56778 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #f78297 0%,#f56778 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #f78297 0%,#f56778 100%); /* IE10+ */
  background: linear-gradient(top,  #f78297 0%,#f56778 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f78297', endColorstr='#f56778',GradientType=0 ); /* IE6-9 */
  border-color: #df6f8b #da5f75 #d55061;
  color: #913944;
  text-shadow: 0 1px 0 #f89ca9;
}
.button.pink a { color: #913944 }
.button.orange {
  background: #f9bc70; /* Old browsers */
  background: -moz-linear-gradient(top,  #f9bc70 0%, #d8b541 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9bc70), color-stop(100%,#d8b541)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #f9bc70 0%,#d8b541 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #f9bc70 0%,#d8b541 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #f9bc70 0%,#d8b541 100%); /* IE10+ */
  background: linear-gradient(top,  #f9bc70 0%,#d8b541 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9bc70', endColorstr='#d8b541',GradientType=0 ); /* IE6-9 */
  border-color: #f5b74e #e5a73e #d6982f;
  color: #996633;
  text-shadow: 0 1px 0 #fedd9b;
}
.button.orange a { color: #996633 }
.button.green {
  background: #cae285; /* Old browsers */
  background: -moz-linear-gradient(top,  #cae285 0%, #9fcb57 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cae285), color-stop(100%,#9fcb57)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #cae285 0%,#9fcb57 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #cae285 0%,#9fcb57 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #cae285 0%,#9fcb57 100%); /* IE10+ */
  background: linear-gradient(top,  #cae285 0%,#9fcb57 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cae285', endColorstr='#9fcb57',GradientType=0 ); /* IE6-9 */
  border-color: #adc671 #98b65b #87aa4a;
  color: #5d7731;
  text-shadow: 0 1px 0 #cfe5a4;
}
.button.green a { color: #5d7731 }
.button.blue {
  background: #a3bced; /* Old browsers */
  background: -moz-linear-gradient(top,  #a3bced 0%, #ba8ecc 100%, #667cdd 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a3bced), color-stop(100%,#ba8ecc), color-stop(100%,#667cdd)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #a3bced 0%,#ba8ecc 100%,#667cdd 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #a3bced 0%,#ba8ecc 100%,#667cdd 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #a3bced 0%,#ba8ecc 100%,#667cdd 100%); /* IE10+ */
  background: linear-gradient(top,  #a3bced 0%,#ba8ecc 100%,#667cdd 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a3bced', endColorstr='#667cdd',GradientType=0 ); /* IE6-9 */
  border-color: #8dc5da #76b7cf #63abc7;
  text-shadow: 0 1px 0 #b6e6f9;
}
.button.blue a { color: #42788e }
.button.purple {
  background: #d1badb; /* Old browsers */
  background: -moz-linear-gradient(top,  #d1badb 0%, #ba8ecc 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d1badb), color-stop(100%,#ba8ecc)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #d1badb 0%,#ba8ecc 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #d1badb 0%,#ba8ecc 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #d1badb 0%,#ba8ecc 100%); /* IE10+ */
  background: linear-gradient(top,  #d1badb 0%,#ba8ecc 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1badb', endColorstr='#ba8ecc',GradientType=0 ); /* IE6-9 */
  border-color: #bc9db9 #ad89aa #a1799d;
  color: #7b5777;
  text-shadow: 0 1px 0 #eacae6;
}
.button.purple a { color: #7b5777 }
.button.black {
  background: #616161; /* Old browsers */
  background: -moz-linear-gradient(top,  #616161 0%, #222222 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#616161), color-stop(100%,#222222)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #616161 0%,#222222 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #616161 0%,#222222 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #616161 0%,#222222 100%); /* IE10+ */
  background: linear-gradient(top,  #616161 0%,#222222 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#616161', endColorstr='#222222',GradientType=0 ); /* IE6-9 */
  border-color: #4c4c4c #313131 #1f1f1f;
  color: #fff;
  text-shadow: 0 1px 0 #2e2e2e;
}
.button.black a { color: #fff }

.donate_button {
  float: right;
  margin-top: 8px;
  padding: 8px 18px;
  color: #fff;
  background: #998000;
  text-decoration: none;
  border: 1px solid #d7d8d6;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}



a.buttonsidebar{
  background: none repeat scroll 0 0 #998000;
    border: 1px solid #D7D8D6;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    padding: 8px 18px;
    text-decoration: none;
}
a.buttonred {
    background: none repeat scroll 0 0 #990018;
}


/*
 * FOOTER
 */

#footer-wrapper {
    border-top: 1px solid #C9C9C9;
    padding-top: 45px;
    width: 100%;
}


.region-bottom {
  clear: both;
  text-align: center;
}
.region-bottom p{
    -moz-transition: color 0.2s ease-in 0s, background 0.2s ease-in 0s;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.05);
    border-radius: 4px 4px 4px 4px;
    color: #AAAAAA;
    display: inline-block;
    font-size: 11px;
    margin: 0 0 30px;
    padding: 4px 8px;
    text-align: center;
}


/* Views */
.view-board-of-directors .views-row {
 float: left;
  margin-bottom: 15px;
}

.view-board-of-directors .views-field-field-headshot {
  float: left;
  width: 30.42%;
  margin-right:15px;
  margin-bottom: 15px;
}

.view-board-of-directors .views-field-field-title {
  float:left;
  width: 30.42%
}

.view-board-of-directors .views-field-field-body {
  float:left;
  width: 30.42%
} 


.view-shop-items .views-row {
  float: left;
  margin-bottom: 15px;
}

.view-shop-items .views-field-field-shop-item-image {
  float: left;
  width: 30.42%;
  margin-right:15px;
  margin-bottom: 15px;
}

.view-shop-items .views-field-title {
  float:left;
  width: 30.42%
}


.view-help-obg .views-field-field-image {
    float: left;
    margin-right:15px;
    margin-bottom: 15px;
}

.view-help-obg .views-field-field-body {
  float: left;
}

.view-help-obg h2.node-title  {
  display: none;
}

.view-help-obg .field-name-field-shop-store-image {
    float: left;
    margin-right:15px;
    margin-bottom: 15px;
}

.view-help-obg .views-field-field-body {
  float:left;
} 


/*--------------------------------------------
Icons
---------------------------------------------*/
.icon { cursor: default; font-size: 18px; line-height: 1; color: #006699; }
/* Icons General */
@font-face {
  font-family: 'FoundationIconsGeneral';
  src: url('../fonts/foundation-icons-general.eot');
  src: url('../fonts/foundation-icons-general.eot?#iefix') format('embedded-opentype'),
       url('../fonts/foundation-icons-general.woff') format('woff'),
       url('../fonts/foundation-icons-general.ttf') format('truetype'),
       url('../fonts/foundation-icons-general.svg#FoundationIconsGeneral') format('svg');
  font-weight: normal;
  font-style: normal;
}
.icon.general { font-family: "FoundationIconsGeneral"; }
/* Foundation Icons General Enclosed */
@font-face {
    font-family: 'FoundationIconsGeneralEnclosed';
    src: url('../fonts/foundation-icons-general-enclosed.eot');
    src: url('../fonts/foundation-icons-general-enclosed.eot?#iefix') format('embedded-opentype'),
         url('../fonts/foundation-icons-general-enclosed.woff') format('woff'),
         url('../fonts/foundation-icons-general-enclosed.ttf') format('truetype'),
         url('../fonts/foundation-icons-general-enclosed.svg#FoundationIconsGeneralEnclosed') format('svg');
    font-weight: normal;
    font-style: normal;
}
.icon.general-enclosed { font-family: "FoundationIconsGeneralEnclosed"; }
/* Icons Social Misc */
@font-face {
  font-family: 'FoundationIconsSocial';
  src: url('../fonts/foundation-icons-social.eot');
  src: url('../fonts/foundation-icons-social.eot?#iefix') format('embedded-opentype'),
       url('../fonts/foundation-icons-social.woff') format('woff'),
       url('../fonts/foundation-icons-social.ttf') format('truetype'),
       url('../fonts/foundation-icons-social.svg#FoundationIconsGeneral') format('svg');
  font-weight: normal;
  font-style: normal;
}
.icon.social_misc { font-family: "FoundationIconsSocial"; }
/* Icons Social */
@font-face {
  font-family: 'IcoMoon';
  src: url('../fonts/IcoMoon.eot');
  src: url('../fonts/IcoMoon.eot?#iefix') format('embedded-opentype'),
    url('../fonts/IcoMoon.svg#IcoMoon') format('svg'),
    url('../fonts/IcoMoon.woff') format('woff'),
    url('../fonts/IcoMoon.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.icon.social { font-family: 'IcoMoon'; }






