/* 1. Global */

.container {
	width: 320px;
	overflow: hidden;
	margin: 0 auto;
}	


/* 2. Header and Navigation */


header aside {
		float: right;
		padding-top: 0px;
		width: auto;
		margin-top: 22px;
}

div.page_wrapper {
		padding-top: 30px;
	}
	div.page_wrapper aside {
		width: 100%;
		float: none;
	}

div.page_wrapper .page {
		width: 87%;
	}

	div.page_wrapper .content img {
		width: 100%;
		height:auto;
	}